<div class="footer--container container">
    <div class="footer--icon"><img src="../../../assets/images/icons/home.svg" alt="Home"></div>
    <div class="footer--icon"><img src="../../../assets/images/icons/search.svg" alt="Search"></div>
    <div class="footer--icon"><img src="../../../assets/images/icons/plus.svg" alt="Add Feed"></div>
    <div class="footer--icon"><img src="../../../assets/images/icons/like.svg" alt="Notification"></div>
    <div class="footer--icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
</div>